.access{
  position: relative;
  height: 40.625vw;
  margin-bottom: 13.28vw;
  .nav{
    width: 76.72%;
    line-height: 275%;
    background-color: #800000;
    font-size: 1.2vw;
    height: 59.6%;
    position: absolute;
    left: 0;
    bottom: 0;
    p{
      text-align: center;
      margin-top: 9.7vw;
      margin-right: 47vw;
    }
  }
  .map{
    width: 68.75%;
    height: 24.5vw;
    position: absolute;
    right: 0;
    bottom: 14.62%;
    z-index: 10;
    box-shadow: 10px 10px 99px #000000;
  }
}